* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: rgb(219, 198, 8);
    background: black;
    font-size: 1rem;
}

header {
    background: black;
    position: sticky;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8%;
}

.logo h1 {
    color: red;
    letter-spacing: 3px;
    cursor: pointer;
    transition: transform 0.3s;
}

.logo h1:hover {
    background: white;
    transform: scale(1.2);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav-links a:hover {
    color: red;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 85vh;
    background-image: url(sf26.jpg);
    width: 100%;
}

.hero-text {
    background: rgba(0,0,0,0);
    padding: 3rem;
    border-radius: 10px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.btn {
    background: red;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    transition: transform 0.3 ease, background 0.3 ease;
}

.btn:hover {
    background: #c21f02;
    transform: scale(1.09);
}

section {
    padding: 4rem 8%;
}

.title {
    text-align: center;
    font-size: 2.2rem;
    color: red;
    margin-bottom: 2rem;
}

.title1 {
    text-align: center;
    font-size: 2.2rem;
    color: red;
    padding: 4rem;
}

.model-flex {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.model-card {
    display: flex;
    flex-direction: column;
    margin: 10px;
}






.model-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.heritage-flex {
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
}

.heritage-text {
    flex: 1 1 400px;
}

.heritage-img {
    flex: 1 1 400px;
}

.heritage-img img {
    width: 100%;
    border-radius: 10px;
}

.contact-flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
}


footer {
    background: black;
    color: white;
    padding: 1.5rem;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
    }
    .hero h2 {
        font-size: 2rem;
    }
}
